/* Small screen selector */
@media screen and (max-width: 370px) {
  body {
    background-color: chocolate;
  }
  

  
}

/* Medium screen selector */
@media screen and (min-width: 370px) and (max-width: 550px) {
  body {
    background-color: crimson;
  }

 
}

/* regular screen CSS */
@media screen and (min-width: 550px) {
  body {
    background-color: darksalmon;
  }

  

}

/* Global styles */
body{
  font-family: Roboto, sans-serif;
}

 header{
    position:fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: beige;
  }

  footer{
    text-align: center;
    background-color: whitesmoke;
    
  }

  .info{
    text-transform: uppercase;
    text-align: center;
    background-color: lightgray;
  }

 .sticky, section, article{
    padding-top: 102px;
  }

