/* Small screen selector */
@media screen and (max-width: 550px) {

  .section-1,
  .section-2,
  .section-3 {
    flex-direction: column;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
  }


  .carousel-item img {
    width: 100%;
    height: 400px;
  }
}

/* regular screen CSS */
body {
  font-family: Roboto, sans-serif;
}

header {
  width: 100%;
  text-align: center;
  background-color: #10302d;
  color: white;
  padding: 2rem;
}

footer {
  text-align: center;
  background-color: #10302d;
  padding: 1.5rem;
  color: white;
}

#info {
  text-align: center;
  background-color: lightgray;
  padding: 1.5rem;
  color: #10302d;
  line-height: 2;
}

.section-1,
.section-2,
.section-3 {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
}

article p {
  text-align: justify;
  line-height: 2;
  margin: 50px;
}

.section-2 {
  background-color: #f2f6f7;
}

.carousel-item img {
  width: 100%;
  height: 500px;
}

h2,
a {
  color: #10302d;
  text-align: center;
}

a:hover {
  color: #468b03;
}

